@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;700;900&display=swap');

body{
    background: linear-gradient(90deg, rgb(15, 15, 15) 0%, rgba(94,25,9,1) 12.5%, rgba(92,64,7,1) 25%, rgba(84,82,6,1) 37.5%, rgba(33,79,6,1) 50%, rgba(7,63,83,1) 62.5%, rgba(18,22,74,1) 75%, rgba(56,16,74,1) 87.5%, rgb(10, 0, 15) 100%);
}

#content{
    height: fit-content;
    min-height: calc(100vh - 50px);
    width:auto;
    padding: 10px;
    /* background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(94,25,9,1) 65%, rgba(92,64,7,1) 70%, rgba(84,82,6,1) 75%, rgba(33,79,6,1) 80%, rgba(7,63,83,1) 85%, rgba(18,22,74,1) 90%, rgba(56,16,74,1) 95%); */
    background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(26,26,26,1) 60%, rgba(94,25,9,1) 65%, rgba(92,64,7,1) 70%, rgba(84,82,6,1) 75%, rgba(33,79,6,1) 80%, rgba(7,63,83,1) 85%, rgba(18,22,74,1) 90%, rgba(56,16,74,1) 95%);
    /* background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 60%, rgba(94,25,9,1) 79%, rgba(92,64,7,1) 82%, rgba(84,82,6,1) 85%, rgba(33,79,6,1) 88%, rgba(7,63,83,1) 91%, rgba(18,22,74,1) 94%, rgba(56,16,74,1) 97%); */

    /* background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(94,25,9,1) 12.5%, rgba(92,64,7,1) 25%, rgba(84,82,6,1) 37.5%, rgba(33,79,6,1) 50%, rgba(7,63,83,1) 62.5%, rgba(18,22,74,1) 75%, rgba(56,16,74,1) 87.5%); */
    border-radius: 25px 25px 0px 0px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
}

/* SIDEBAR *//* SIDEBAR *//* SIDEBAR */
#saved-container{
    box-sizing: border-box;
    height: 99%;
    padding: 30px 5px 5px 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    /* background:rgba(102, 255, 0, 0.146); */
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(100,100,100,0.3) 100%);
    border: 4px solid rgba(104, 158, 106, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:25px;
    text-align: center;
}

#saved-container>form{
    text-align: center;
}

#saved-container label{
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    align-items: center;
    color: #D9D9D9;
}

#saved-container input{
    box-sizing: border-box;
    margin: 1px 0px 15px 0px;
    width: 90%;
    height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
    color: #D9D9D9;
}

#saved-plan-list{
    display: block;
    padding: 2px;
}

#saved-plan-list>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
}

li>p{
    width: 85%;
    word-wrap: break-word;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #D9D9D9;
    padding: 5px;
    margin: 0px;
}

li>p:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


/* PLAN *//* PLAN *//* PLAN */
#plan-container{
    box-sizing: border-box;
    padding: 5px 5px 15px 5px;
    margin-top: 15px;
    /* background:#2956c02e; */
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(100,100,100,0.3) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid rgba(9, 123, 180, 0.7);
    border-radius:25px;
}

#plan-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

h3{
    width: auto;
    height: 56px;
    margin: 0px 0px 0px 0px;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    align-items: center;
    color: #D9D9D9;
}

#plan-container>h3{
    margin: 10px 0px 20px 30px;
}

#plan-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#plan-form>div{
    position: relative;
}

#plan-form input:not(.travelBoxes){
    box-sizing: border-box;
    margin: 10px 10px 30px 10px;
    width: 280px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
    color: #D9D9D9;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 300;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(99%) sepia(0%) saturate(638%) hue-rotate(177deg) brightness(87%) contrast(95%);
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(99%) sepia(0%) saturate(638%) hue-rotate(177deg) brightness(87%) contrast(95%);
}

input[type=checkbox] {
    accent-color: #097bb4;
  }

#plan-form label:not(.frameLabels){
    position: absolute;
    left: 25px;
    top: -15px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;
    height: auto;
    z-index: 1;

    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #D9D9D9;
}

#travelFrame{    
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    width: 420px;
    height: 80px;
    padding: 15px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

#travelFrame>p{
    position: absolute;
    left: 15px;
    top: -27px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;
    height: auto;
    z-index: 1;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #D9D9D9;
}

#travelFrame>div{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.frameLabels{
    color: #D9D9D9;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.travelBoxes{
    margin-top: 5px;
    width: 17px;
    height: 17px;
    opacity: 0.75;
}


/* TASKS *//* TASKS *//* TASKS */
#task-list{
    display: flex;
    flex-wrap: wrap;
}

.task-container{
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 540px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    /* background: #fbeb0d4f; */
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(100,100,100,0.3) 100%);
    border: 4px solid rgba(218, 201, 42, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fade-out {
    animation: fadeOut 0.5s;
}

.task-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

.task-header>div{
    display: inline-flex;
}


.task-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-form>div{
    position: relative;
}

.task-form label:not(.priorityLabel){
    position: absolute;
    left: 25px;
    top: -15px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #D9D9D9;
}

.task-form input:not(.priority){
    box-sizing: border-box;
    text-align: center;
    width: 260px;
    height: 50px;
    margin: 10px 10px 25px 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0);
    color: #D9D9D9;
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
}

.priorityFrame{
    margin: 10px;
    box-sizing: border-box;
    width: 260px;
    height: 90px;
    padding: 15px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.priorityFrame>p{
    position: absolute;
    left: 15px;
    top: -27px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D9D9D9;
}

.priorityFrame>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priorityFrame label{
    color: #D9D9D9;
}

.priority{
    margin-top: 5px;
    width: 17px;
    height: 17px;
    opacity: 0.75;
}

.offcanvas{
    width: 66%!important;
    padding: 10px;
    background: #0abab4b5;
    border-radius: 25px 0px 0px 25px;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #D9D9D9;
}

.offcanvas-header{
    display: flex;
    justify-content: space-between!important;
    align-items: center!important;
}