body{
    background: linear-gradient(90deg, rgb(15, 0, 0) 0%, rgba(94,25,9,1) 12.5%, rgba(92,64,7,1) 25%, rgba(84,82,6,1) 37.5%, rgba(33,79,6,1) 50%, rgba(7,63,83,1) 62.5%, rgba(18,22,74,1) 75%, rgba(56,16,74,1) 87.5%, rgb(10, 0, 15) 100%);
}

#content{
    height: calc(100vh-42px);
    width:auto;
    padding: 10px;
    /* background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(94,25,9,1) 65%, rgba(92,64,7,1) 70%, rgba(84,82,6,1) 75%, rgba(33,79,6,1) 80%, rgba(7,63,83,1) 85%, rgba(18,22,74,1) 90%, rgba(56,16,74,1) 95%); */
    background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(94,25,9,1) 65%, rgba(92,64,7,1) 70%, rgba(84,82,6,1) 75%, rgba(33,79,6,1) 80%, rgba(7,63,83,1) 85%, rgba(18,22,74,1) 90%, rgba(56,16,74,1) 95%);
    /* background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(94,25,9,1) 12.5%, rgba(92,64,7,1) 25%, rgba(84,82,6,1) 37.5%, rgba(33,79,6,1) 50%, rgba(7,63,83,1) 62.5%, rgba(18,22,74,1) 75%, rgba(56,16,74,1) 87.5%); */
    border-radius: 25px 25px 0px 0px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
}

#saved-container{
    box-sizing: border-box;
    height: 99%;
    padding: 30px 5px 5px 5px;
    margin-top: 15px;
    background:rgba(0, 236, 0, 0.137);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:25px;
    text-align: center;
}

#saved-container>form{
    text-align: center;
}

#saved-container label{
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    align-items: center;
    color: #D9D9D9;
}

#saved-container input{
    box-sizing: border-box;
    margin: 5px 0px 10px 0px;
    width: 90%;
    height: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
    color: #D9D9D9;
}


#saved-plan-list{
    display: block;
    padding: 2px;
}

#saved-plan-list>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
}

#saved-plan-list>li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

li>p{
    width: 85%;
    word-wrap: break-word;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D9D9D9;
    padding: 5px;
    margin: 0px;
}

li>p:hover{
    color: rgba(255, 255, 255, 1);
}

.del-saved-btn{
    position: relative;
    width: 15px;
    height: 15px;
    border: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0)
}

.del-saved-btn-i{
    color: #D9D9D9;
    position: absolute;
    left: -2px;
    top: -6px;
    font-size: 15px;

}

/* PLAN *//* PLAN *//* PLAN */
#plan-container{
    box-sizing: border-box;
    padding: 5px 5px 15px 5px;
    margin-top: 15px;
    background:#2956c02e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:25px;
}

h3{
    width: auto;
    height: 56px;
    margin: 0px 0px 0px 0px;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    color: #D9D9D9;
}

#plan-container>h3{
    margin: 10px 0px 20px 30px;
}

#plan-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#plan-form>div{
    position: relative;
}

#plan-form input:not(.travelBoxes){
    box-sizing: border-box;
    margin: 10px 10px 30px 10px;
    width: 280px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
    color: #D9D9D9;
}

#plan-form label:not(.frameLabels){
    position: absolute;
    left: 25px;
    top: -15px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;
    height: auto;
    z-index: 1;

    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D9D9D9;
}

#travelFrame{    
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    width: 420px;
    height: 80px;
    padding: 15px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

#travelFrame>p{
    position: absolute;
    left: 15px;
    top: -27px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;
    height: auto;
    z-index: 1;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D9D9D9;
}

#travelFrame>div{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.frameLabels{
    color: #D9D9D9;
}

.travelBoxes{
    margin-top: 5px;
    width: 17px;
    height: 17px;
    opacity: 0.75;
}


/* TASK *//* TASK *//* TASK */
#task-list{
    display: flex;
    flex-wrap: wrap;
}

.task-container{
    position: relative;
    box-sizing: border-box;
    width: 300px;
    height: 540px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    background: #fbeb0d4f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn 1s;
}

/* @keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fade-out {
    animation: fadeOut 1s;
} */

.task-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 15px 30px;
}

.task-header>div{
    display: inline-flex;
}

.del-btn{
    position: relative;
    width: 25px;
    height: 25px;
    border: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0)
}

.del-btn-i{
    position: absolute;
    top: -8px;
    left: 0px;
    color: #d9d9d96f;
    font-size: 25px;
    text-shadow: 0px 2px 2px rgba(126, 134, 158, 0.25);
}

.task-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-form>div{
    position: relative;
}

.task-form label:not(.priorityLabel){
    position: absolute;
    left: 25px;
    top: -15px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D9D9D9;
}

.task-form input:not(.priority){
    box-sizing: border-box;
    text-align: center;
    width: 260px;
    height: 50px;
    margin: 10px 10px 25px 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0);
    color: #D9D9D9;
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
}

.priorityFrame{
    margin: 10px;
    box-sizing: border-box;
    width: 260px;
    height: 90px;
    padding: 15px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #d9d9d96f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.priorityFrame>p{
    position: absolute;
    left: 15px;
    top: -27px;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    width: auto;
    height: auto;
    z-index: 1;
    background: rgba(0, 0, 0, 0);
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D9D9D9;
}

.priorityFrame>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priorityFrame label{
    color: #D9D9D9;
}

.priority{
    margin-top: 5px;
    width: 17px;
    height: 17px;
    opacity: 0.75;
}

/* BUTTONS *//* BUTTONS *//* BUTTONS */
#btn-panel{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 300px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tips{
    width: 80px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.33);
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    right: 110%;
    z-index: 1;
    font-family: 'Geologica', sans-serif;
}

#add-div{
    display: flex;
    align-items: center;
}

#add-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0)
}

#add-btn-i{
    position: absolute;
    top: -14px;
    left: 0px;
    color:#dac92a;
    font-size: 50px;
    text-shadow: 0px 2px 2px rgba(126, 134, 158, 0.25);
}

#add-tip{
    visibility: visible;
    width: 105px;
    height: 50px;
}

#save-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0)
}

#save-btn-i{
    position: absolute;
    top: -14px;
    left: 0px;
    color: #689e6a;
    font-size: 50px;
    text-shadow: 0px 2px 2px rgba(126, 134, 158, 0.25);
}

#save-tip{
    visibility: hidden;
    /* visibility: visible; */
}

#save-btn:hover #save-tip{
    visibility: visible;
}

#ok-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0)
}

#ok-btn-i{
    position: absolute;
    top: -14px;
    left: 0px;
    color:#097bb4;
    font-size: 50px;
    text-shadow: 0px 2px 2px rgba(126, 134, 158, 0.25);
}

#ok-tip{
    visibility: hidden;
}

/* #ok-btn:hover #ok-tip{
    visibility: visible;
} */

#gpt-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#gpt-btn-i{
    position: absolute;
    top: -14px;
    left: 0px;
    color:#0ABAB5;
    font-size: 50px;
    text-shadow: 0px 2px 2px rgba(126, 134, 158, 0.25);

}

#gpt-tip{
    /* visibility: hidden; */
    width: 80px;

}

/* #gpt-btn:hover #gpt-tip{
    visibility: visible;
} */

.offcanvas{
    width: 66%!important;
    padding: 10px;
    background: #0abab4b5;
    border-radius: 25px 0px 0px 25px;
    font-family: 'Geologica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #D9D9D9;
}