body{
    background-image: url("/assets/brickWall.jpg");
    background-size: 100%;
    background-color: rgb(17, 7, 2);
}

.navbar{
<<<<<<< HEAD
    background-color: grey;
    opacity: 0.3;
    position: sticky;
}

a{
    opacity: 1;
=======
    background-color: rgba(48, 47, 47, 0.6)!important;
    position: sticky;
}

.navbar-brand{
    color: white;
}

.dropdown-menu{
    z-index: 1;
}

#login{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

#login>div{
    margin: 5px;
}

#login label{
    color: white;
>>>>>>> bfee0fe8af387d4d29e437b3b98bdf73a3d6bf56
}

#main-container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

}

.memo{
    background-color: rgb(213, 213, 107);
    width: 200px;
    height: 200px;
    margin: 15px;
    box-shadow: 10px 10px 15px rgb(35, 34, 34);
    position: relative;
    display: block;
    z-index: 0;
}

.text{
    height: 180px;
    width: 180px;
    margin: 5px;
    position: absolute;
    background-color: rgb(213, 213, 107);
    border: 0;
}

.img-btn-icon{ 
    position: absolute;
    right: 5px;
    top: 0px;
}

/* .img-btn-icon:hover{ 
    color: aqua;
    cursor: pointer;

} */

.img-btn{
    opacity: 0.5;
    height: 14px;
    width: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.submit{
    position: absolute;
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 5px;
}